/* CSS Reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
/* 	border: 0; */
	}
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.5;
}
*{
  box-sizing: border-box; 
   max-width:100%; 
   /* border: 1px solid red;  */
  margin: 0 auto;
  /* color: #4f4f4f; */
  margin-top: 1%;
}
h1{
  font-size: 2.8rem;
}
h2{
  font-size: 2.0rem;
}
h3{
  font-size: 1.4rem;
}
p{
  font-size: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form_section,
 .form_section2 {
  border: 2px solid #185adb;
  padding: 1% 2%;
  width: 100%;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
}
.form_section2{
  width: 50%;
}
label{
  float: left;
	width: 8em;
	text-align: left;
  align-items: center;
  padding-top: 1%;
	padding-right: 0.5em;
  font-size: 1rem;
  margin: 0 0%;
}
.dashboard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}
.todo_dashboard{
  width: 80%;
}
.dashboard_bg{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dashboard_card{
  width: 30%;
  background-color: #eee;
  /* background: #1c2833; */
  /* border: 1px solid #185adb; */
  box-shadow: 6px 4px 10px #185adb;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: left;
  margin-top: 10%;

}
.dashboard_addbutton{
  border: 2px solid #185adb;
  padding: 1% 2%;
  font-size: 1.2rem;
  position: absolute;
  text-decoration: none;
  right: 6%;
}
.todoform{
  width: 100%;
}
.sidebar{
  width: 20%;
  text-align: center;
  padding: 1%;
}
.sidebar h4{
 color: #185adb
}

button{
  border: none;
  background-color: #185adb;
  color: white;
  /* padding: 3% 3%;
  margin: 2% 2%; */
  cursor: pointer;
  border-radius: 10px;
}
.button_container {
  display: flex;
  justify-content: space-between;
}
.button_delete{
  background-color: #F1948A;
  color: #4f4f4f;
}
.button_edit{
  background-color: #F9E79F;
  color: #4f4f4f;
}
.button_details{
  background-color: #85C1E9;
  color: #4f4f4f;
}
footer{
  background-color: #185adb;
  color: #fff;
}
.dash_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.dash_copyright{
  text-align: center;
  padding: 1% 0;
  width: 80%;
}
.dash_socials{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 15%;
  padding: 1% 0;
  margin: 1% 1%;
}

@media screen and (max-width: 700px) {
  .form_section2{
    width: 100%;
  }
  .dashboard{
    width: 100%;
  }
  .sidebar{
    width: 30%;
    margin: 0 10%;
  }
  .todo_dashboard{
    width: 90%;
  }
  .dashboard_addbutton{
    top: 13%;
  }
  .dashboard_card{  
    width: 100%;
  }
}
