/* CSS Reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
/* 	border: 0; */
	}
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.5;
}
*{
  box-sizing: border-box; 
   max-width:100%; 
   border: 1px solid red; 
  margin: 0 auto;
  background-color: #1C2833;;
  color: #fff;
}
h1{
  font-size: 2.8rem;
}
h2{
  font-size: 2.0rem;
}
h3{
  font-size: 1.4rem;
}
p{
  font-size: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form_section,
 .form_section2 {
  border: 2px solid #185adb;
  padding: 1% 2%;
  width: 90%;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
}
.form_section2{
  width: 70%;
}
label{
  float: left;
	width: 8em;
	text-align: left;
  align-items: center;
  padding-top: 1%;
	padding-right: 0.5em;
  font-size: 1rem;
  margin: 0 0%;
}
.dashboard{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.dashboard_card{
  width: 100%;
  background: #eee;
  /* border: 1px solid #185adb; */
  box-shadow: 6px 4px 10px #185adb;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: left;
}
.sidebar{
  width: 30%;
  text-align: center;
}
button{
  border: none;
  background-color: #185adb;
  color: white;
  /* padding: 3% 3%;
  margin: 2% 2%; */
  cursor: pointer;
  
}
.button_delete{
  background-color: #F1948A;
  color: #4f4f4f;
}
.button_edit{
  background-color: #F9E79F;
  color: #4f4f4f;
}
.button_details{
  background-color: #85C1E9;
  color: #4f4f4f;
}